<% include partials/filter_header %>
<%
let numbers = ['0', '50', '100', '150'];
function optionSelected(type, option) {
    return (type in pagination.query && (pagination.query[type] == option || Object.values(pagination.query[type]).includes(option)));
}
%>

<div class="col-sm-2 text-left" id="filter">
    <h1 class="mt-4">Filters</h1>
    <hr>
    <form method="get">
        <h4 class="mt-4">Number of Games Developed</h4>
        <%
        numbers.forEach((number) =>{
            let checked = '';
            var i = parseInt(number);
            var j = i + 49;
            if (optionSelected('numbers', number)) {
                checked ='checked';
            }
        %>
        <div class="form-check">
            <input class="form-check-input" <%=checked%> type="radio" name="numbers" value=<%=number%>>
            <label class="form-check-label" for="<%=number%>"><%=number%> - <%=j%></label>
        </div>
        <% });
        let checked = '';
        if (optionSelected('numbers', '200')) checked ='checked';
        %>
        <div class="form-check">
            <input class="form-check-input" <%=checked%> type="radio" name="numbers" value='200'>
            <label class="form-check-label" for='200'>200+</label>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
</div>

<div class="col-sm-9">

    <h1 class="mt-4">Developers</h1>
    <hr>

    <% developers.forEach( (developer, i) => {
        let developerUrl = "/developer?id=" + developer._id;
    %>

        <% if (i % 5 === 0) { %>
            <div class="card-deck">
        <% } %>

        <div class="card" style="width: 18rem;">
            <a href="<%= developerUrl %>"><img class="card-img-top" src="<%= developer.image_background %>"></a>
            <div class="card-body">
                <a style="color:#000;" href="<%= developerUrl %>"><h5 class="card-title"><%= developer.name %></h5></a>
                <p class="card-text">Maker of <%= developer.games_count %> Games</p>
                <a href="<%= developerUrl %>" class="btn btn-primary">See More</a>
            </div>
        </div>

        <% if ((i + 1) % 5 === 0) { %>
            </div>
            <br>
        <% } %>

    <% }); %>

    <% include partials/pagination.ejs %>

<% include partials/footer %>
