<% include partials/header %>

<h1 class="mt-4">Developers</h1>
<hr>

<% developers.forEach( (developer, i) => {
    let developerUrl = "/developer?id=" + developer._id;
%>

    <% if (i % 5 === 0) { %>
        <div class="card-deck">
    <% } %>

    <div class="card" style="width: 18rem;">
        <a href="<%= developerUrl %>"><img class="card-img-top" src="<%= developer.image_background %>"></a>
        <div class="card-body">
            <a style="color:#000;" href="<%= developerUrl %>"><h5 class="card-title"><%= developer.name %></h5></a>
            <p class="card-text">Maker of <%= developer.games_count %> Games</p>
            <a href="<%= developerUrl %>" class="btn btn-primary">See More</a>
        </div>
    </div>

    <% if ((i + 1) % 5 === 0) { %>
        </div>
        <br>
    <% } %>

<% }); %>

<% include partials/footer %>
