<% include partials/filter_header %>


<div class="col-sm-2">
    <h1 class="mt-4">Filter</h1>
    <hr>
    <form method="get">
        <h3 class="mt-4">Genre</h3>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Action">
            <label class="form-check-label" for="Action">
                Action
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Indie">
            <label class="form-check-label" for="Indie">
                Indie
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Adventure">
            <label class="form-check-label" for="Adventure">
                Adventure
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="RPG">
            <label class="form-check-label" for="RPG">
                RPG
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Shooter">
            <label class="form-check-label" for="Shooter">
                Shooter
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Strategy">
            <label class="form-check-label" for="Strategy">
                Strategy
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Casual">
            <label class="form-check-label" for="Casual">
                Casual
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Simulation">
            <label class="form-check-label" for="Simulation">
                Simulation
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Puzzle">
            <label class="form-check-label" for="Puzzle">
                Puzzle
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Arcade">
            <label class="form-check-label" for="Arcade">
                Arcade
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Platformer">
            <label class="form-check-label" for="Platformer">
                Platformer
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Racing">
            <label class="form-check-label" for="Racing">
                Default checkbox
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Sports">
            <label class="form-check-label" for="defaultCheck1">
                Default checkbox
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Massively Multiplayer">
            <label class="form-check-label" for="Massively Multiplayer">
                Massively Multiplayer
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Family">
            <label class="form-check-label" for="Family">
                Family
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Fighting">
            <label class="form-check-label" for="Fighting">
                Fighting
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Board Games">
            <label class="form-check-label" for="Board Games">
                Board Games
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Educational">
            <label class="form-check-label" for="Educational">
                Educational
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Card">
            <label class="form-check-label" for="Card">
                Card
            </label>
        </div>
        <hr>
        <h3 class="mt-4">Platforms</h3>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
</div>

<div class="col-sm-9">

    <h1 class="mt-4">Games</h1>
    <hr>

    <% games.forEach( (game, i) => {
        let gameUrl = "/game?id=" + game._id;
    %>

        <% if (i % 5 === 0) { %>
            <div class="card-deck">
        <% } %>

        <div class="card" style="width: 18rem;">
            <a href="<%= gameUrl %>"><img class="card-img-top" src="<%= game.background_image %>"></a>
            <div class="card-body">
                <a id="cardtitle" href="<%= gameUrl %>"><h5 class="card-title"><%= game.name %></h5></a>
                <p class="card-text">Released <%= (game.released !== null) ? game.released.split('-')[0] : '?'%> | <%= game.reviews_count %> Reviews</p>
                <a href="<%= gameUrl %>" class="btn btn-primary">See More</a>
            </div>
        </div>

        <% if ((i + 1) % 5 === 0) { %>
            </div>
            <br>
        <% } %>

    <% }); %>

    <% include partials/pagination %>

<% include partials/footer %>

