<% include partials/filter_header %>
<%
let genres = ['Action', 'Indie', 'Adventure', 'RPG', 'Shooter', 'Strategy', 'Casual', 'Simulation', 'Puzzle', 'Arcade', 'Platformer', 'Racing', 'Sports', 'Massively Multiplayer', 'Family', 'Fighting', 'Board Games', 'Educational', 'Card'];
let platforms = ['PC', 'PlayStation 4', 'PlayStation 3', 'PlayStation 2', 'PlayStation', 'PS Vita', 'PSP', 'Xbox One', 'Xbox 360', 'Xbox', 'Nintendo Switch', 'iOS', 'Android', 'macOS', 'Linux', 'Nintendo 3DS', 'Nintendo DS', 'Nintendo DSi', 'Wii U', 'Wii', 'GameCube', 'Nintendo 64', 'Game Boy Advance', 'Game Boy Color', 'Game Boy', 'SNES', 'NES'];
let stars = ['star1', 'star2', 'star3', 'star4', 'star5'];
function optionSelected(type, option) {
    return (type in pagination.query && (pagination.query[type] == option || Object.values(pagination.query[type]).includes(option)));
}
%>

<div class="col-sm-12 text-right">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort by:
    </button>
    <ul class="dropdown-menu" id="dropdownlist" aria-labelledby="dropdownMenuButton">
        <li class="dropdown-item" onclick="$('#sorts').val('Relevance'); $('#filterSearchSort').submit()">Relevance</li>
        <li class="dropdown-item" onclick="$('#sorts').val('AlpAsc'); $('#filterSearchSort').submit()">Alphabetical: Ascending</li>
        <li class="dropdown-item" onclick="$('#sorts').val('AlpDes'); $('#filterSearchSort').submit()">Alphabetical: Descending</li>
        <li class="dropdown-item" onclick="$('#sorts').val('RatAsc'); $('#filterSearchSort').submit()">Ratings: Ascending</li>
        <li class="dropdown-item" onclick="$('#sorts').val('RatDes'); $('#filterSearchSort').submit()">Ratings: Descending</li>
        <li class="dropdown-item" onclick="$('#sorts').val('RelDes'); $('#filterSearchSort').submit()">Newest</li>
        <li class="dropdown-item" onclick="$('#sorts').val('RelAsc'); $('#filterSearchSort').submit()">Oldest</li>
    </ul>
    <hr>
</div>
<div class="col-sm-2 text-left" id="filter">
    <h1 class="mt-4">Filters</h1>
    <hr>
    <form id="filterSearchSort" method="get">
        <h4 class="mt-4">Genres</h4>
        <div class="collapse" id="collapsegenre" aria-expanded="false">
            <%
            genres.forEach( (genre) => {
                let checked = '';

                if (optionSelected('genres', genre)) checked ='checked';
            %>
            <div class="form-check">
                <input class="form-check-input" <%=checked%> type="checkbox" name="genres" value="<%=genre%>">
                <label class="form-check-label" for="<%=genre%>"><%=genre%></label>
            </div>
            <% }); %>
        </div>

        <a role="button" class="collapsed" data-toggle="collapse" href="#collapsegenre" aria-expanded="false" aria-controls="collapsegenre"></a>

        <hr>

        <h4 class="mt-4">Platforms</h4>
        <div class="collapse" id="collapseplatforms" aria-expanded="false">
            <%
            platforms.forEach((platform) => {
                let checked = '';

                if (optionSelected('platforms', platform)) checked ='checked';
            %>
                <div class="form-check">
                    <input class="form-check-input" <%=checked%> type="checkbox" name="platforms" value="<%=platform%>">
                    <label class="form-check-label" for="<%=platform%>"><%=platform%></label>
                </div>
            <% }) %>
        </div>
        <a role="button" class="collapsed" data-toggle="collapse" href="#collapseplatforms" aria-expanded="false" aria-controls="collapseplatforms"></a>

        <hr>
        <h4 class="mt-4">Ratings</h4>
        <div class="stars">
            <%
            stars.forEach((star) => {
                let checked = '';
                if(optionSelected('star', star)) checked = 'checked'
                let betterStar = star.slice(0, 4) + '-' + star.slice(4);
                let number = star.slice(4);
                number = parseInt(number);
            %>
                <input type="radio" name="star" class="<%=betterStar%>" <%=checked%> id="<%=betterStar%>" value="<%=star%>" />
                <label class="<%=betterStar%>" for="<%=betterStar%>"><%=number%></label>
            <%})
            %>
            <span></span>
        </div>
        <script>
            //Deselect rating buttons if user holds down ctrl and clicks
            let radios = document.getElementsByName('star');
            for(let i=0; i<radios.length; i++ ) {
                radios[i].onclick = function(e) {
                    if(e.ctrlKey) {
                        this.checked = false;
                    }
                }
            }
        </script>
        <br>
        <button type="submit" class="btn btn-primary">Filter</button>

        <input name="search" type="hidden" value="<%=searchQuery%>"/>
        <input class="span2" id="sorts" name="sorts" type="hidden">
    </form>
</div>

<div class="col-sm-9">

    <h1 class="mt-4">Games</h1>
    <hr>
    <%if(games.length !== 0){%>
    <% games.forEach( (game, i) => {
        let gameUrl = "/game?id=" + game._id;
    %>

    <% if (i % 5 === 0) { %>
    <div class="card-deck">
        <% } %>

        <div class="card" style="width: 18rem;">
            <a href="<%= gameUrl %>"><img class="card-img-top" src="<%= game.background_image %>"></a>
            <div class="card-body">
                <a value="cardtitle" href="<%= gameUrl %>"><h5 class="card-title"><%= game.name %></h5></a>
                <p class="card-text">Released <%= (game.released !== null) ? game.released.split('-')[0] : '?'%> | <%= game.reviews_count %> Reviews</p>
                <a href="<%= gameUrl %>" class="btn btn-primary">See More</a>
            </div>
        </div>

        <% if ((i + 1) % 5 === 0) { %>
    </div>
    <br>
    <% } %>

    <% }); %>
    <%} else {%>
        <h3>No Games found</h3>
    <%}%>

    <% include partials/pagination %>

<% include partials/footer %>
