<% include partials/filter_header %>


<div class="col-sm-2" id="filter">
    <h1 class="mt-4">Filter</h1>
    <hr>
    <form method="get">
        <h4 class="mt-4">Genre</h4>
        <div class="collapse" id="collapsegenre" aria-expanded="false">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="genres" value="Action">
                <label class="form-check-label" for="Action">
                    Action
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="genres" value="Indie">
                <label class="form-check-label" for="Indie">
                    Indie
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="genres" value="Adventure">
                <label class="form-check-label" for="Adventure">
                    Adventure
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="genres" value="RPG">
                <label class="form-check-label" for="RPG">
                    RPG
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="genres" value="Shooter">
                <label class="form-check-label" for="Shooter">
                    Shooter
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="genres" value="Strategy">
                <label class="form-check-label" for="Strategy">
                    Strategy
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="genres" value="Casual">
                <label class="form-check-label" for="Casual">
                    Casual
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="genres" value="Simulation">
                <label class="form-check-label" for="Simulation">
                    Simulation
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="genres" value="Puzzle">
                <label class="form-check-label" for="Puzzle">
                    Puzzle
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="genres" value="Arcade">
                <label class="form-check-label" for="Arcade">
                    Arcade
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="genres" value="Platformer">
                <label class="form-check-label" for="Platformer">
                    Platformer
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="genres" value="Racing">
                <label class="form-check-label" for="Racing">
                    Default checkbox
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="genres" value="Sports">
                <label class="form-check-label" for="defaultCheck1">
                    Default checkbox
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="genres" value="Massively Multiplayer">
                <label class="form-check-label" for="Massively Multiplayer">
                    Massively Multiplayer
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="genres" value="Family">
                <label class="form-check-label" for="Family">
                    Family
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="genres" value="Fighting">
                <label class="form-check-label" for="Fighting">
                    Fighting
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="genres" value="Board Games">
                <label class="form-check-label" for="Board Games">
                    Board Games
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="genres" value="Educational">
                <label class="form-check-label" for="Educational">
                    Educational
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="genres" value="Card">
                <label class="form-check-label" for="Card">
                    Card
                </label>
            </div>
        </div>
        <a role="button" class="collapsed" data-toggle="collapse" href="#collapsegenre" aria-expanded="false" aria-controls="collapsegenre"></a>
        <hr>
        <h4 class="mt-4">Platforms</h4>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="platforms" value="PC">
            <label class="form-check-label" for="PC">
                PC
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="platforms" value="PlayStation 4">
            <label class="form-check-label" for="PlayStation 4">
                PlayStation 4
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="platforms" value="Xbox One">
            <label class="form-check-label" for="Xbox One">
                Xbox One
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="platforms" value="Nintendo Switch">
            <label class="form-check-label" for="Nintendo Switch">
                Nintendo Switch
            </label>
        </div>
        
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
</div>

<div class="col-sm-9">

    <h1 class="mt-4">Games</h1>
    <hr>

    <% games.forEach( (game, i) => {
        let gameUrl = "/game?value=" + game._id;
    %>

        <% if (i % 5 === 0) { %>
            <div class="card-deck">
        <% } %>

        <div class="card" style="width: 18rem;">
            <a href="<%= gameUrl %>"><img class="card-img-top" src="<%= game.background_image %>"></a>
            <div class="card-body">
                <a value="cardtitle" href="<%= gameUrl %>"><h5 class="card-title"><%= game.name %></h5></a>
                <p class="card-text">Released <%= (game.released !== null) ? game.released.split('-')[0] : '?'%> | <%= game.reviews_count %> Reviews</p>
                <a href="<%= gameUrl %>" class="btn btn-primary">See More</a>
            </div>
        </div>

        <% if ((i + 1) % 5 === 0) { %>
            </div>
            <br>
        <% } %>

    <% }); %>

    <% include partials/pagination %>

<% include partials/footer %>

