<% include partials/header %>

<main class="container-fluid">
    <h1 class="mt-4"><%= game.name %></h1>
    <hr>

    <div class="row">
        <div class="col-8">
            <div id="Indicators" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators">
                    <% game.short_screenshots.forEach( (screenshot, i) => { %>
                        <li data-target="#Indicators" data-slide-to="<%= i %>" <%= (i == 0) ? 'class="active"' : ''%>></li>
                     <% }); %>
                </ol>

                <div class="carousel-inner">
                    <% game.short_screenshots.forEach( (screenshot, i) => { %>
                        <div class="carousel-item <%= (i == 0) ? 'active' : ''%>">
                            <img class="img-fluid" src="<%= screenshot.image %>">
                        </div>
                    <% }); %>

                </div>
                <a class="carousel-control-prev" href="#Indicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#Indicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-4">
            <% if (steamAppId !== null) { %>
                <strong style="color:#9147ff; font-size:24px;"><%= steamPlayerCount %> Playing on Steam</strong><br><br>
            <% } %>

            <p><strong>Developers:</strong>
                <% developers.forEach( (developer, i) => { %>
                    <a href="/developer?id=<%= developer._id %>"><%= developer.name %></a><%= (i !== developers.length - 1) ? ', ' : '' %>
                <% }); %>

            <p><strong>Publishers:</strong>
                <% publishers.forEach( (publisher, i) => { %>
                    <a href="/publisher?id=<%= publisher._id %>"><%= publisher.name %></a><%= (i !== publishers.length - 1) ? ', ' : '' %>
            <% }); %>

            <p><strong>Released:</strong> <%= game.released%></p>

            <strong>Platforms:</strong>

            <ul class="list-unstyled">
                <% game.platforms.forEach( (platform) => { %>
                    <% if(false && platform.platform.name == 'PC' && steamPrice != null){%>
                        <li><%= platform.platform.name %> <a href="<%=steamPrice.link%>" rel="noopener noreferrer" target="_blank"><%=steamPrice.final_formatted%></a></li>
                    <%} else {%>
                        <li><%= platform.platform.name %></li>
                    <%}%>
                <% }); %>
            </ul>

            <% if(false && hltb && hltb.exists == true) {%>
                <strong>Average Time to Complete:</strong>
                <ul class="list-unstyled">
                    <li>Main Story: <%= hltb.main%> Hours</li>
                    <li>Main Story + Extra: <%= hltb.mainExtra%> Hours</li>
                    <li>Completionist (100%): <%= hltb.completionist%> Hours</li>
                    <li><a href="https://howlongtobeat.com/game?id=<%=hltb.id%>" rel="noopener noreferrer" target="_blank">In Depth Stats</a></li>
                </ul>
            <% }%>

            <br>
            <% if (user != null) {
                if (userHasInWishlist) { %>
                    <a href="?id=<%=game._id%>&removeWishlist"><button class="btn btn-secondary">Remove from Wishlist</button></a>
                <% } else { %>
                    <a href="?id=<%=game._id%>&addWishlist"><button class="btn btn-secondary">Add to Wishlist</button></a>
                <% }
            } else { %>
                <a href="/auth/google">Login to Add to Wishlist</a>
            <% } %>

        </div>
    </div>

    <br>
    <div class="container-fluid">
        <h2>News</h2>
        <ul class="list-unstyled">
            <%var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];%>
            <% if (news !== null) {
                    news.forEach((article) => {
                    var date = new Date(article.date * 1000);
                    var formattedTime = date.toLocaleDateString() + " " + date.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});
            %>

            <li class="media">
                <div class="media-body">
                    <a href="<%=article.url%>"><h5 class="mt-0"><%=article.title%></h5></a>
                    <%if(article.author != null){%>
                        <h6 class="mt-0">Written by: <%=article.author%></h6>
                    <%} else{%>
                        <h6 class="mt-0">Written by: Unknown Author</h6>
                    <%}%>
                    <h6 class="mt-0">Written by: <%=article.author%></h6>
                    <h6 class="mt-0"><small><i>Date: <%=formattedTime%></i></small></h6>
                </div>
            </li>
            <hr>
            <% });
            } else {%>
                <h6 class="mt-0">This website currently does not have support for news for non-Steam Games</h6>
                <h6 class="mt-0">Please check our Github Repo when this feature will be implemented</h6>
            <%}%>
        </ul>
    </div>

    <br>

    <div class="container-fluid">
        <h2>Reviews</h2>
        <canvas id="review"></canvas>
        <script>
            var colors = ['#1f52ff'];
            var chBar = document.getElementById("review");
            if (chBar) {
                new Chart(chBar, {
                    type: 'bar',
                    data: {
                        labels: ["5", "4", "3", "2", "1"],
                        datasets: [{
                            data: <%= reviewsCounts %>,
                            backgroundColor: colors[0]
                        }]
                    },
                    options: {
                        legend: {
                            display: false
                        },
                        scales: {
                            xAxes: [{
                                barPercentage: 0.4,
                                categoryPercentage: 0.5,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Score'
                                }
                            }],
                            yAxes:[{
                                scaleLabel: {
                                    display: true,
                                    labelString: '# of Users'
                                }
                            }]
                        }
                    }
                });
            }
        </script>
    </div>
    <br>
    <div class="container-fluid" id="reviews">
        <h2>User Reviews</h2>
        <% if (reviews !== null) {
            reviewslength = reviews.length;
            if(reviewslength > 5){
                reviewslength = 5;
            }
            for(var i = 0; i < reviewslength; i++){ %>
            <div class="media">
                <img class="mr-3" src="<%=reviews[i].userpicture%>" height="100" width="100" alt="...">
                <div class="media-body">
                    <h5 class="mt-0"><%=reviews[i].title%></h5>
                    <%=reviews[i].review%>
                    <%
                    var rating;
                    switch(reviews[i].rating){
                        case "option5":
                            rating = 5;
                            break;
                        case "option4":
                            rating = 4;
                            break;
                        case "option3":
                            rating = 3;
                            break;
                        case "option2":
                            rating = 2;
                            break;
                        case "option1":
                            rating = 1;
                            break;
                    }%>
                    <h6 class="mt-0">Rating: <%=rating%>/5</h6>
                    <h6 class="mt-0">Written by: <%=reviews[i].username%></h6>
                    <%
                        var reviewDate = new Date(reviews[i].time);
                        var formattedTime = reviewDate.toLocaleDateString() + " " + reviewDate.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});

                    %>
                    <h6 class="mt-0"><small><i>Date: <%=formattedTime%></i></small></h6>
                </div>
            </div>
            <%}
        %>
        <%} else {%>
            <h6>There are currently no user reviews. Own the game? Be the first to put a review!</h6>
        <%}%>
    </div>

    <% if (user !== null) { %>
        <br>
        <div id="leaveReview">
            <h2>Leave a Review</h2>
            <form action="/review" method="post">
                <label for="gameId"></label><input type="hidden" name="gameId" id="gameId" value="<%=game._id%>">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control" placeholder="Write a title" name="title" id="title">
                </div>
                <div class="form-group">
                    <label for="review">Review:</label>
                    <textarea class="form-control" placeholder="Own the game? Leave a review!" name="review" id="review" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <div class="row">
                        Rating:
                        <div class="form-check">
                            <input class="form-check-input" name="userratings" type="radio" id="rating5" value="option5">
                            <label class="form-check-label" for="rating5">
                                5
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="userratings" type="radio" id="rating4" value="option4">
                            <label class="form-check-label" for="rating4">
                                4
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="userratings" type="radio" id="rating3" value="option3">
                            <label class="form-check-label" for="rating3">
                                3
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="userratings" type="radio" id="rating2" value="option2">
                            <label class="form-check-label" for="rating2">
                                2
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="userratings" type="radio" id="rating1" value="option1">
                            <label class="form-check-label" for="rating1">
                                1
                            </label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    <%}%>

    <br>

    <div class="container-fluid" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); grid-gap: 0.1rem;">
        <div class="row">
            <div class="col-6">
                <div id="Indicators1" class="carousel slide" data-ride="carousel">

                    <ol class="carousel-indicators">
                        <% videos.forEach( (video, i) => { %>
                            <li data-target="#Indicators" data-slide-to="<%= i %>" <%= (i == 0) ? 'class="active"' : ''%>></li>
                        <% }); %>
                    </ol>

                    <div class="carousel-inner">
                        <% videos.forEach( (video, i) => { %>
                            <div class="carousel-item <%= (i == 0) ? 'active' : ''%>">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%=video%>" allowfullscreen></iframe>
                                </div>
                            </div>
                        <% }); %>

                    </div>
                    <a class="carousel-control-prev" href="#Indicators1" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#Indicators1" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-6">
                <div class = "container-fluid">
                    <% if (twitchUsername !== null) { %>
                    <script src= "https://player.twitch.tv/js/embed/v1.js"></script>
                    <div class="row" id="Twitch Player"></div>
                    <script type="text/javascript">
                        var options = {
                            width: 584,
                            height: 320,
                            channel: "<%= twitchUsername %>",
                            // channel: "Tfue",
                        };
                        var player = new Twitch.Player("Twitch Player", options);
                        player.setVolume(0.0);
                    </script>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</main>


<% include partials/footer %>
