<% include partials/header %>

<style>
    #greytext{
        color: grey;
    }
    .carousel-caption{
        color: black;
        position: relative;
        left: auto;
        right: auto;
    }
    .img-fluid{
        width: auto;
        height: 575px;
        max-height: 575px;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Welcome to GameDB</h1>
            <p id="greytext">The best place for gamers to get information on games</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h2>New Releases</h2>
    </div>
</div>

<div class="container">
    <div id="Indicators" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
            <% new_releases.forEach( (game, i) => { %>
                <li data-target="#Indicators" data-slide-to="<%= i %>" <%= (i == 0) ? 'class="active"' : ''%>></li>
            <% }); %>
        </ol>

        <div class="carousel-inner">
            <% new_releases.forEach( (game, i) => { %>
                <% let gameUrl = "/game?id=" + game._id; %>
                <div class="carousel-item <%= (i == 0) ? 'active' : ''%>">
                    <a href="<%=gameUrl%>">
                        <img class="img-fluid" src="<%= game.background_image %>">
                        <div class="carousel-caption">
                            <h2><%= game.name%></h2>
                            <p>Released <%= game.released.split('-')[1] %>-<%= game.released.split('-')[2] %></p>
                        </div>
                    </a>
                </div>
            <% }); %>

        </div>
        <a class="carousel-control-prev" href="#Indicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#Indicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="col-sm-6">
    <div class="jumbotron"><h1>   News   </h1></div>
        <% news.forEach((article, i) => { %>
        <div class="media">
            <div class="media-left">
                <img src="<%=article.urlToImage %>" class="media-object" style="width:150px">
            </div>
            <div class="media-body">
                <a href="<%= article.url %>"><h4><%= article.title%></h4></a>
                <h6>From: <%= article.source.name %></h6>
                <br>
                <p style="size:8px"> <%= article.description %> </p>
                <br>
            </div>
        </div>
        <% }); %>
</div>

<div class="col-sm-6">
    <div class="jumbotron"><h1>Top Rated Games</h1></div>
    <% top_rated.forEach((game, i) => { %>
        <p><%= game.name %> Score: <%= game.metacritic.toString() %> </p>
    <% }); %>
</div>

<% include partials/footer %>
