<% include partials/header %>
<main class="container-fluid text-left">
    <div class="row">
        <div class="col-sm-1">

        </div>

        <div class="col-sm-10">


        <h1 class="mt-4">News</h1>
<hr>

<ul class="list-unstyled">
<%  news.forEach((article) => { %>


    <div class="media">
        <div class="media-left">
            <img src="<%=article.urlToImage %>" class="media-object" style="width:150px">
        </div>
        <div class="media-body">
            <a href="<%= article.url %>"><h4><%= article.title%></h4></a>
            <h6>From: <%= article.source.name %></h6>
            <br>
            <p> <%= article.description %> </p>
            <h6><small>Written By: <%=article.author%></small></h6>
            <br>
        </div>
    </div>
    <hr>
<% }); %>
</ul>
        </div>

        <div class="col-sm-1">

        </div>
    </div>
</main>

<footer class="footer">
    <div class="container text-center">
        <span class="text-muted">GameDB</span>
    </div>
</footer>

</body>

</html>
