<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
    <a class="navbar-brand" href="/">GameDB</a>

    <div class="navbar-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/games">Games</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/developers">Developers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/publishers">Publishers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/news">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>
    </div>

    <div class="navbar-nav mx-auto">
        <form class="form-inline">
            <input style="width:600px;" class="form-control mr-sm-2" type="search" placeholder="Search for your favorite games!" aria-label="Search">
        </form>
    </div>

    <div class="navbar-nav ml-auto">
        <a href="/login"><button class="btn btn-light"><i class="fas fa-sign-in-alt"></i> Log In </button></a>
        <div>
</nav>

<main class="container-fluid">
    <div class="row">
        <div class="col-sm-1">

        </div>

        <div class="col-sm-10">


        <h1 class="mt-4">News</h1>
<hr>

<ul class="list-unstyled">
<%var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];%>
<% news.forEach((article,i) => {
    let gameUrl = "/game?id=" + steamGames[i]._id;
    var date = new Date(article.date * 1000);
    var month = months[date.getMonth()];
    var day = date.getDay();
    var year = date.getFullYear();
    var hours = date.getHours();
    var minutes = date.getMinutes();
    if(hours < 10){
        hours = '0' + hours;
    }
    if(minutes < 10){
        minutes = '0' + minutes;
    }
    var formattedTime = month + " " + day + ", " + year + " " + hours + ":" + minutes;
    %>

    <li class="media">
        <img src="<%=steamGames[i].background_image%>" class="mr-3" height="100" width="100"/>
        <div class="media-body">
            <a href="<%=article.url%>"><h5 class="mt-0"><%=article.title%></h5></a>
            <h6 class="mt-0">Game: <a href="<%= gameUrl %>"><%=steamGames[i].name%></a></h6>
            <h6 class="mt-0">Written by: <%=article.author%></h6>
            <h6 class="mt-0"><small><i>Date: <%=formattedTime%></i></small></h6>
        </div>
    </li>
    <hr>
<% }); %>
</ul>
        </div>

        <div class="col-sm-1">

        </div>
    </div>
</main>

<footer class="footer">
    <div class="container text-center">
        <span class="text-muted">GameDB</span>
    </div>
</footer>

</body>

</html>
