<% include partials/header %>

<main class="container-fluid">
    <h1 class="mt-4"><%= publisher.name %></h1>
    <hr>


    <h2 class="mt-4">Developers Worked With:</h2>
    <hr>

    <div class="card-deck" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); grid-gap: 0.1rem;">
        <% for(let developer of developers) {
            let developerUrl = "/developer?id=" + developer._id;
        %>
        <div class="card" style="margin-bottom: 15px">
            <a href="<%= developerUrl %>"><img class="card-img-top" src="<%= developer.image_background %>"></a>
            <div class="card-body">
                <a style="color:#000;" href="<%= developerUrl %>"><h5 class="card-title"><%= developer.name %></h5></a>
                <p class="card-text">Developed <%= developer.games_count %> Games</p>
                <a href="<%= developerUrl %>" class="btn btn-primary">See More</a>
            </div>
        </div>
        <% } %>
    </div>
    <br>


    <h2 class="mt-4">Credited On:</h2>
    <hr>

    <div class="card-deck" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); grid-gap: 0.1rem;">
        <% games.forEach( (game, i) => {
            let gameUrl = "/game?id=" + game._id;
        %>
        <div class="card" style="margin-bottom: 15px">
            <a href="<%= gameUrl %>"><img class="card-img-top" src="<%= game.background_image %>"></a>
            <div class="card-body">
                <a style="color:#000;" href="<%= gameUrl %>"><h5 class="card-title"><%= game.name %></h5></a>
                <p class="card-text">Released <%= (game.released !== null) ? game.released.split('-')[0] : '?'%> | <%= game.reviews_count %> Reviews</p>
                <a href="<%= gameUrl %>" class="btn btn-primary">See More</a>
            </div>
        </div>
        <% }); %>
    </div>
    <br>

    <h2>User Reviews</h2>
    <div class="container-fluid text-left">
        <%if(reviews.length != 0){
            reviewslength = reviews.length;
            if(reviewslength > 5){
                reviewslength = 5;
            }
        for(var i = 0; i < reviewslength; i++){ %>
        <div class="media">
            <img class="mr-3" src="<%=reviews[i].userpicture%>" height="100" width="100" alt="...">
            <div class="media-body">
                <h5 class="mt-0"><%=reviews[i].title%></h5>
                <%=reviews[i].review%>
                <%
                    var rating = reviews[i].rating;
                    rating = rating.slice(-1);
                %>
                <h6 class="mt-0">Rating: <%=rating%>/5</h6>
                <h6 class="mt-0">Written by: <%=reviews[i].username%></h6>
                <%
                    var reviewDate = new Date(reviews[i].time);
                    var formattedTime = reviewDate.toLocaleDateString() + " " + reviewDate.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});
                %>
                <h6 class="mt-0"><small><i>Date: <%=formattedTime%></i></small></h6>
            </div>
        </div>
        <%}
        %>
        <%} else {%>
            <h6 class="text-center">There are currently no user reviews. Know this developer? Be the first to put a review!</h6>
        <%}%>
    </div>

    <%if(user != null){ %>
    <br>
    <h2>Leave a Review</h2>
    <form action="/review" method="post">
        <label for="gameId"></label><input type="hidden" name="publisherId" id="publisherId" value="<%=publisher._id%>">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" placeholder="Write a title" name="title" id="title">
        </div>
        <div class="form-group">
            <label for="review">Review:</label>
            <textarea class="form-control" placeholder="Played a game published by this publisher? Leave a review!" name="review" id="review" rows="5"></textarea>
        </div>
        <div class="form-group">
            <div class="row">
                Rating:
                <div class="stars">
                    <input type="radio" name="userratings" class="star-1" id="star-1" value="option1" />
                    <label class="star-1" for="star-1">1</label>
                    <input type="radio" name="userratings" class="star-2" id="star-2" value="option2" />
                    <label class="star-2" for="star-2">2</label>
                    <input type="radio" name="userratings" class="star-3" id="star-3" value="option3" />
                    <label class="star-3" for="star-3">3</label>
                    <input type="radio" name="userratings" class="star-4" id="star-4" value="option4" />
                    <label class="star-4" for="star-4">4</label>
                    <input type="radio" name="userratings" class="star-5" id="star-5" value="option5" />
                    <label class="star-5" for="star-5">5</label>
                    <span></span>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <%}%>

</main>


<% include partials/footer %>
