<% include partials/header %>

<main class="container-fluid">
    <h1 class="mt-4"><%= publisher.name %></h1>
    <hr>


    <h2 class="mt-4">Developers Worked With:</h2>
    <hr>

    <div class="card-deck" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); grid-gap: 0.1rem;">
        <% for(let developer of developers) {
            let developerUrl = "/developer?id=" + developer._id;
        %>
        <div class="card" style="margin-bottom: 15px">
            <a href="<%= developerUrl %>"><img class="card-img-top" src="<%= developer.image_background %>"></a>
            <div class="card-body">
                <a style="color:#000;" href="<%= developerUrl %>"><h5 class="card-title"><%= developer.name %></h5></a>
                <p class="card-text">Developed <%= developer.games_count %> Games</p>
                <a href="<%= developerUrl %>" class="btn btn-primary">See More</a>
            </div>
        </div>
        <% } %>
    </div>
    <br>


    <h2 class="mt-4">Credited On:</h2>
    <hr>

    <div class="card-deck" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); grid-gap: 0.1rem;">
        <% games.forEach( (game, i) => {
            let gameUrl = "/game?id=" + game._id;
        %>
        <div class="card" style="margin-bottom: 15px">
            <a href="<%= gameUrl %>"><img class="card-img-top" src="<%= game.background_image %>"></a>
            <div class="card-body">
                <a style="color:#000;" href="<%= gameUrl %>"><h5 class="card-title"><%= game.name %></h5></a>
                <p class="card-text">Released <%= (game.released !== null) ? game.released.split('-')[0] : '?'%> | <%= game.reviews_count %> Reviews</p>
                <a href="<%= gameUrl %>" class="btn btn-primary">See More</a>
            </div>
        </div>
        <% }); %>
    </div>
    <br>

    <h2>User Reviews</h2>
    <div class="container-fluid text-left">
        <%var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];%>
        <%if(reviews.length != 0){
            reviewslength = reviews.length;
            if(reviewslength > 5){
                reviewslength = 5;
            }
        for(var i = 0; i < reviewslength; i++){ %>
        <div class="media">
            <img class="mr-3" src="<%=reviews[i].userpicture%>" height="100" width="100" alt="...">
            <div class="media-body">
                <h5 class="mt-0"><%=reviews[i].title%></h5>
                <%=reviews[i].review%>
                <%
                    var rating;
                    switch(reviews[i].rating){
                        case "option5":
                            rating = 5;
                            break;
                        case "option4":
                            rating = 4;
                            break;
                        case "option3":
                            rating = 3;
                            break;
                        case "option2":
                            rating = 2;
                            break;
                        case "option1":
                            rating = 1;
                            break;
                    }%>
                <h6 class="mt-0">Rating: <%=rating%>/5</h6>
                <h6 class="mt-0">Written by: <%=reviews[i].username%></h6>
                <%
                    var reviewdate = new Date(reviews[i].time);
                    var month = months[reviewdate.getMonth()];
                    var day = reviewdate.getDate();
                    var year = reviewdate.getFullYear();
                    var hours = reviewdate.getHours();
                    var minutes = reviewdate.getMinutes();
                    if(hours < 10){
                        hours = '0' + hours;
                    }
                    if(minutes < 10){
                        minutes = '0' + minutes;
                    }
                    var formattedTime = month + " " + day + ", " + year + " " + hours + ":" + minutes;
                %>
                <h6 class="mt-0"><small><i>Date: <%=formattedTime%></i></small></h6>
            </div>
        </div>
        <%}
        %>
        <%} else {%>
            <h6 class="text-center">There are currently no user reviews. Know this developer? Be the first to put a review!</h6>
        <%}%>
    </div>

    <%if(user != null){ %>
    <br>
    <h2>Leave a Review</h2>
    <form action="/review" method="post">
        <label for="gameId"></label><input type="hidden" name="publisherId" id="publisherId" value="<%=publisher._id%>">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" placeholder="Write a title" name="title" id="title">
        </div>
        <div class="form-group">
            <label for="review">Review:</label>
            <textarea class="form-control" placeholder="Played a game published by this publisher? Leave a review!" name="review" id="review" rows="5"></textarea>
        </div>
        <div class="form-group">
            <div class="row">
                Rating:
                <div class="form-check">
                    <input class="form-check-input" name="userratings" type="radio" id="rating5" value="option5">
                    <label class="form-check-label" for="rating5">
                        5
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="userratings" type="radio" id="rating4" value="option4">
                    <label class="form-check-label" for="rating4">
                        4
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="userratings" type="radio" id="rating3" value="option3">
                    <label class="form-check-label" for="rating3">
                        3
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="userratings" type="radio" id="rating2" value="option2">
                    <label class="form-check-label" for="rating2">
                        2
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="userratings" type="radio" id="rating1" value="option1">
                    <label class="form-check-label" for="rating1">
                        1
                    </label>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <%}%>

</main>


<% include partials/footer %>
