<% include partials/header %>

<main class="container-fluid">
    <h1 class="mt-4"><%= publisher.name %></h1>
    <hr>


    <h2 class="mt-4">Developers Worked With:</h2>
    <hr>

    <div class="card-deck" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); grid-gap: 0.1rem;">
        <% for(let developer of developers) {
            let developerUrl = "/developer?id=" + developer._id;
        %>
        <div class="card" style="margin-bottom: 15px">
            <a href="<%= developerUrl %>"><img class="card-img-top" src="<%= developer.image_background %>"></a>
            <div class="card-body">
                <a style="color:#000;" href="<%= developerUrl %>"><h5 class="card-title"><%= developer.name %></h5></a>
                <p class="card-text">Developed <%= developer.games_count %> Games</p>
                <a href="<%= developerUrl %>" class="btn btn-primary">See More</a>
            </div>
        </div>
        <% }; %>
    </div>
    <br>


    <h2 class="mt-4">Credited On:</h2>
    <hr>

    <div class="card-deck" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); grid-gap: 0.1rem;">
        <% games.forEach( (game, i) => {
            let gameUrl = "/game?id=" + game.instance._id;
        %>
        <div class="card" style="margin-bottom: 15px">
            <a href="<%= gameUrl %>"><img class="card-img-top" src="<%= game.instance.background_image %>"></a>
            <div class="card-body">
                <a style="color:#000;" href="<%= gameUrl %>"><h5 class="card-title"><%= game.instance.name %></h5></a>
                <p class="card-text">Released <%= game.instance.released.split('-')[0] %> | <%= game.instance.reviews_count %> Reviews</p>
                <a href="<%= gameUrl %>" class="btn btn-primary">See More</a>
            </div>
        </div>
        <% }); %>
    </div>
    <br>

</main>


<% include partials/footer %>
