<% include partials/header %>

<main class="container-fluid">
    <h1 class="mt-4"><%= publisher.name %></h1>
    <hr>


    <h2 class="mt-4">Developers Worked With:</h2>
    <hr>

    <div class="card-deck" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); grid-gap: 0.1rem;">
        <% for(let developer of developers) {
            let developerUrl = "/developer?id=" + developer._id;
        %>
        <div class="card" style="margin-bottom: 15px">
            <a href="<%= developerUrl %>"><img class="card-img-top" src="<%= developer.image_background %>"></a>
            <div class="card-body">
                <a style="color:#000;" href="<%= developerUrl %>"><h5 class="card-title"><%= developer.name %></h5></a>
                <p class="card-text">Developed <%= developer.games_count %> Games</p>
                <a href="<%= developerUrl %>" class="btn btn-primary">See More</a>
            </div>
        </div>
        <% } %>
    </div>
    <br>

    <%include partials/creditedOn%>

    <%let gameUrl = "http://gamedb.us-east-1.elasticbeanstalk.com/publisher?id=" + publisher._id;%>

    <%let shareMessage = "Check out " + publisher.name + " on GameDB!";%>

    <%include partials/sharingButtons%>

    <%include partials/review%>

    <%if(user != null){ %>
    <br>
    <h2>Leave a Review</h2>
    <form action="/review" method="post">
        <label for="gameId"></label><input type="hidden" name="publisherId" id="publisherId" value="<%=publisher._id%>">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" placeholder="Write a title" name="title" id="title">
        </div>
        <div class="form-group">
            <label for="review">Review:</label>
            <textarea class="form-control" placeholder="Played a game published by this publisher? Leave a review!" name="review" id="review" rows="5"></textarea>
        </div>

        <%include partials/starsForRatings%>

    </form>
    <%}%>

</main>


<% include partials/footer %>
