<% include partials/header %>

<main class="container-fluid">
    <h1 class="mt-4">Wishlist</h1>
    <hr>

    <div class="card-deck" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); grid-gap: 0.1rem;">
        <% for (let game of games) {
            let gameURL = "/game?id=" + game._id;
        %>
        <div class="card" style="margin-bottom: 15px">
            <a href="<%= gameURL %>"><img class="card-img-top" src="<%= game.background_image %>"></a>
            <div class="card-body">
                <a style="color:#000;" href="<%= gameURL %>"><h5 class="card-title"><%= game.name %></h5></a>
                <a href="?remove=<%=game._id%>" class="btn btn-danger">Remove</a>
            </div>
        </div>
        <% } %>
    </div>
    <br>


</main>


<% include partials/footer %>
